---
import Layout from "../layouts/BlogPost.astro";
import GlowLineSeparator from "@/components/ui/separator/GlowLineSeparator.astro";
const pageTitle = "About David R Ingram";
const pageDescription =
  "Learn more about my background and approach to marketing.";
---

<Layout
  title={pageTitle}
  description={pageDescription}
  pubDate={new Date()}
  showHeader={false}
>
  <h4>Strategic Marketing Leader</h4>
  <p>
    I am a growth-focused marketing leader who bridges the gap between
    disruptive innovation and time-tested strategy. With an MBA and deep roots
    in marketing, branding, and full-stack creative direction, I don’t just
    oversee campaigns—I engineer them.
  </p>
  <p>
    My approach leverages the intersection of data, design, consumer psychology,
    and behavioal economics to optimize ROI and scale cross-functional teams.
    From digital strategy and automation to audio/video storytelling, I bring a
    hands-on, multi-vertical perspective to building brands.
  </p>
  <p>
    I have experience leading teams in mutliple verticals as a marketer, brand
    manager, and creative. Leveraging an expertise of marketing strategy, brand
    strategy, data science and analytics, marketing operations and RevOps,
    Unconventional Marketing, and Management.
  </p>

  <GlowLineSeparator />
</Layout>
