---
import Layout from "../layouts/BlogPost.astro";
import GlowLineSeparator from "@/components/ui/separator/GlowLineSeparator.astro";
const pageTitle = "About David R Ingram";
const pageDescription =
  "Learn more about my background and approach to marketing.";
---

<Layout
  title={pageTitle}
  description={pageDescription}
  pubDate={new Date()}
  showHeader={false}
>
  <p>
    I am a Strategic marketing leader who drives growth by integrating
    disruptive marketing techniques with time-tested strategies.
  </p>
  <p>
    An MBA with deep experience in digital strategy, analytics, automation, and
    full-stack creative direction.
  </p>
  <p>
    I love to leverages data, design, and psychology to lead cross-functional
    teams and optimize marketing ROI.
  </p>
  <p>
    I have experience leading teams in mutliple verticals as a marketer, brand
    manager, and creative. Leveraging an expertise of Adobe CC, audio, video,
    storytellings, and web
  </p>

  <GlowLineSeparator />
</Layout>
